@import "../../../../styles/constans/variables.scss";

.title{
    font-size: 28px;
    margin-left: 4px;
}

.spacer-left{
    flex:1;
}
.spacer-right{
    flex:1 1 auto;
}

.logo{
    height: 40px;
    img{
    height: 40px;
    }
}
mat-toolbar{
    background-color: #0d67b5;
}

.top-bar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    .login-button{
        background-color: white;
        color: #0d67b5;
        font-size: 16px;
        height: 35px;
        width: 65px;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        }
}

.top-nav-divider{
    border-color: grey;
    width: 100%;
    position: absolute;
    top: 4rem;
}
.secondary-nav-divider{
    border-color: grey;
    width: 100%;
    position: absolute;
    top: 6rem;
}
.second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    background-color: white;
    color: $primary-color;
    .category{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3rem;
    }
    .expand-button{
        display: flex;
        flex-direction: column;
        align-self: center;
        cursor: pointer;
        .expand-icon{
            font-size: 18px;
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: space-around;
        }
    }
}