<form>
  <mat-form-field>
    <input matInput type="text">
    <mat-label>Name</mat-label>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text">
    <mat-label>Email</mat-label>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text">
    <mat-label>Phone Number</mat-label>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text">
    <mat-label>Password</mat-label>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text">
    <mat-label>Name</mat-label>
  </mat-form-field>
</form>